@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --white: var(#fff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #672c66;
  margin: 1rem auto;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  text-align: center;
  color: #672c66;
}
.conteiner {
  background-color: #fff;
  padding: 1rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
input {
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  padding: .9rem;
}
